<h1>Photos#index</h1>
<a href="/users/index"><p>Back to user list</p></a>
<% @photos.each do |ph| %>
  <p><%= ph.file_name %></p>
  <img src="/assets/<%= ph.file_name %>">
  <h2>Creation time <%= ph.date_time %></h2>
  <h2>Comments</h2>
  <% ph.comments.each do |cm| %>
    <h3>Comment time <%= cm.date_time %> by <a href="/photos/index/<%= cm.user.id %>"><%= cm.user.first_name %> <%= cm.user.last_name %></a></h3> 
    <p><%= cm.comment.html_safe %></p>
  <% end %>
<% end %>
